alembic==1.7.3
aniso8601==7.0.0
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
fakerabbit==1.0.0
Flask==2.0.1
Flask-GraphQL==2.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
greenlet==1.1.1
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
packaging==21.0
pluggy==1.0.0
promise==2.3
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
requests==2.26.0
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.23
toml==0.10.2
urllib3==1.26.6
Werkzeug==2.0.1
